doctype html
html
	head
		meta(charset='UTF-8')
		title= myName
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.0.28/css/bulma.css')
		link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css', rel='stylesheet', integrity='sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1', crossorigin='anonymous')
		link(rel='stylesheet', href='stylesheets/main.css', type='text/css')
	body
		include navbar.pug
		if posts
			include mixins.pug
			include logged_in.pug
			include cart.pug
		else
			include login.pug
			include login_form.pug

		include footer.pug
			
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
		script(src='scripts/main.js', type='text/javascript')
