.box.login-form.hidden.is-6
	p(align='center')
		| Login with Instagram
		br
		a(href='/instagram/code')
			icon.fa.fa-instagram.fa-3x
	label.label Username
	p.control
		input.input(type='text', placeholder='Username')
	label.label Password
	p.control
		input.input(type='password', placeholder='Password')
	p.control
		button.button.is-primary Submit